# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science
* Create single column table

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Maltplotlib
2. ggplot2
3. scikit-learn

|Data Science Tools|
|------------------|
|Hadoop|
|Tensorflow|
|ggplot2|
|MLPlot|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
min=200.0
hr= min/60.0
print("200 minutes is equal to",hr, "hours")

200 minutes is equal to 3.3333333333333335 hours

## Author 
Ebin Thankachan